<br>
<br>

<div class="container" ng-controller="TextoAController">

  <div class="panel panel-primary">
    <div class="panel-body">
      Ingreso de USUARIO {{nombreCompleto}}
    </div>
    <div class="panel-footer">
    <form method="post" role="form" class="form-horizontal">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#datosUsuario" data-toggle="tab"><span class="label label-primary">Datos del Usuario</span></a></li>
              <li><a href="#permiso" data-toggle="tab"><span class="label label-success">Permisos del Usuario</span></a></li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane active" id="datosUsuario">

                <input type='hidden' name='csrfmiddlewaretoken' value='brGfMU16YyyG2QEcpLqhb3Zh8AvkYkJt' />

                <div class="form-group required">
                  <label class="col-md-2 control-label">Primer Nombre</label>
                  <div class="col-md-4">
                    <input class="form-control" id="id_first_name" maxlength="30" name="first_name" placeholder="first name" required="required" title="" type="text" />
                  </div>
                </div>

                <div class="form-group required">
                  <label class="col-md-2 control-label">Primer Apellido</label>
                  <div class="col-md-4">
                    <input class="form-control" id="id_last_name" maxlength="30" name="last_name" placeholder="last name" required="required" title="" type="text" />
                  </div>
                </div>

                <div class="form-group required">
                  <label class="col-md-2 control-label">E-mail</label>
                  <div class="col-md-4">
                    <input class="form-control" id="id_email" name="email" placeholder="E-mail" required="required" title="" type="email" />
                  </div>
                </div>

                <div class="form-group required">
                  <label class="col-md-2 control-label">Usuario</label>
                  <div class="col-md-4">
                    <input class="form-control" id="id_username" maxlength="30" name="username" placeholder="Usuario" required="required" title="" type="text" />
                  </div>
                </div>

                <div class="form-group required">
                  <label class="col-md-2 control-label">Password</label>
                  <div class="col-md-4">
                    <input class="form-control" id="id_password1" name="password1" placeholder="Password" required="required" title="" type="password" />
                  </div>
                </div>

                <div class="form-group required">
                  <label class="col-md-2 control-label">Password (again)</label>
                  <div class="col-md-4">
                    <input class="form-control" id="id_password2" name="password2" placeholder="Password (again)" required="required" title="" type="password" />
                  </div>
                </div>


              </div>

              <div class="tab-pane fade"  id="permiso">


              </div>


      </div>
         <div>

           <div class="form-group required">
             <div class="col-md-4">
               <button ng-click="GuardarProspecto()" class="btn btn-primary">
               <span class="glyphicon glyphicon-ok"></span> Guardar
               </button>

               <button ng-click="ValorPorDefecto()" class="btn btn-primary">
               <span class="glyphicon glyphicon-repeat"></span> Restaurar
               </button>

               <button ng-click="CancelarIngresoProspecto()" class="btn btn-primary">
               <span class="glyphicon glyphicon-print"></span> Imprimir
               </button>
             </div>
           </div>

        </div>


    </form>
    </div>
  </div>

</div>
