
<div class="container">
  <div class="container">
    <h1>CRM: CANALES</h1>
    <p class="load">Este es el index de canales de informacion CRM para realizar pruebas del model definido."</p>
  </div>
</div>
