<div class="container">
  <h2>Asignación Asesor</h2>
  <form class="form-inline">
    <br/>
    <strong>
      <p>Datos Cliente</p>
    </strong>
    <div class="form-group">
      <label>Apellidos</label>
      <input class="form-control input-sm" type="text">
    </div>
    <div class="form-group">
      <label style="padding-left: 20px;">Nombres</label>
      <input class="form-control input-sm" type="text">
    </div>
  </form>
  <form class="form-inline">
    <br/>
    <strong>
      <p>Datos Asignación</p>
    </strong>
    <div class="form-group">
      <label>Asignar a
      </label>
      <input class="form-control input-sm" type="text">
    </div>
    <div class="form-group ">
      <label style="padding-left: 20px;padding-right: 20px">Fecha</label>
      <input class="form-control input-sm" type="date">
    </div>
  </form>
  <br/>
  <button class="btn btn-primary" type="submit">Asignar</button>
</div>
